
@import '../assets/variables';

.about-content{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // border: dotted red 3px;
    background-color: $color-Pri;

    &__div{
        // border: dotted red 4px;
        // height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}


.about__grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // background-color: $color-sec;
    background-color: $color-the;
    width: fit-content;

}

.projects{
    width: 100%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInSection {
    opacity: 0; // Start invisible
    animation-fill-mode: forwards; // Keep the state after animation ends
  }
  