@import '../assets/variables';

.Home{
    // width: auto;
    background-color: $color-Pri;
    padding-top: 50px;
    height: 100vh;
    padding-bottom: 10px;
    color: $color-sec;
    border-left: 5px solid $color-the; /* Accent color */
    margin: 20px 0;
    border-radius: 20px;

    &__BG{

        opacity: 0.03;

        // filter: sepia(100%);

        position: absolute;
        // width: auto;
        width: 100%;
        height: auto;



        }

    &__img{
        // filter: sepia(30%);
        // border-radius: 10px;
        // border:  dotted blue 3px;
        // position: ;
        width: 100%;
        height: auto;
        // h


    }

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    &__h1{
    font-size: 20vw; 
    font-weight: 900;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 2vw; 
    margin-top: 9vw;
        &__dot{
            color: $color-the;
        }

    }
    &__h2{
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding-left: 10px;
        margin: 0;
                // border:  dotted red 3px;

    }

    &__line{

    }
}