.Language__container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  width: 100%;
  // border: dotted red 2px;
  padding-right: 100px;
}

.sphere {
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  max-width: 100vw;
  max-height: 100vh;
}

.sphere:active {
  cursor: grabbing;
}

.language {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s, opacity 0.5s, font-size 0.5s;
  font-size: 1.3vw;
  // font-weight: bold;
  color: var(--color-sec);
  backface-visibility: hidden; 
}

.active {
  font-size: 1.5vw;
  color: $color-primary;
  opacity: 1;
  transform: scale(1.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
  .language {
    font-size: 1.6vw;
  }
}

@media (max-width: 768px) {
  .language {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .language {
    font-size: 3vw;
  }
}

.active {
  font-size: 1.5vw;
  color: $color-primary;
  opacity: 1;
  transform: scale(1.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .active {
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
  .active {
    font-size: 2.3vw;
  }
}

@media (max-width: 480px) {
  .active {
    font-size: 3.5vw;
  }
}