
@import '../assets/variables';

.sphere {

  
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
    // border: dotted red 3px;
  margin-right: 50px;
    
  }
  
  .language {
    
    top: 50%;
    left: 50%;
    transform-origin: center center -10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;
    font-size: 16px; 
    font-weight: bold;
    color: $color-sec;
  }
  
  .active {
    // color: $color-the;
  }
  
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  