@import '../assets/variables';

.project-a{
    
    &__card{
        width: 90%;
        display: flex;
        flex-direction: row;
        background-color: $color-Pri;
        border-radius: 20px;
        margin: 15px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        &:hover{

            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; /* Applied box-shadow on hover */
                  }
    
        &__h3{
            text-align: center;
            color: $color-sec;

            font-family: "Montserrat", sans-serif;
            font-size: 25px;
            
        }
        &__description{
            text-align: center;
            color: $color-sec;

            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.67px;

        }


    }
    &__img{
        border-radius: 45px;
        width: 60%;
        max-width: 75%;
        margin-right: auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


        

    }
    &__details{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35%;
    }
    &__link{
        cursor: alias;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-sec;

    }
    &__tools{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--logos{
            width: 100%;
            max-width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    }


// .about__grid{
//     // display: flex;
//     // flex-direction: row;
//     // flex-wrap: wrap;
//     // width: fit-content;
// }    
.projects{
    width: 48%;
}

.tool-logo{
    width: 30px;
    height: 30px;
}

.gitLogo{
    height: 30px;
    width: 45px;

}