.project-a {
    &__card {
      display: flex;
      flex-direction: row;
      background-color: $color-Pri;
      border-radius: 20px;
      margin: 10px;
      height: 400px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
      &__h3 {
        text-align: center;
        color: $color-sec;
        font-family: "Montserrat", sans-serif;
        font-size: 1.9rem;
      }
      
      &__description {
        text-align: center;
        color: $color-sec;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2rem;
      }
    }
    
    &__img {
      border-radius: 20px;
      width: 60%;
      margin: 15px;
      box-shadow: rgba(102, 153, 204, 0.2) 0px 20px 20px, rgba(102, 153, 204, 0.1) 0px -6px 12px, rgba(102, 153, 204, 0.1) 0px 2px 4px, rgba(102, 153, 204, 0.15) 0px 6px 7px, rgba(102, 153, 204, 0.05) 0px -1px 3px;
      cursor: pointer; /* Added cursor pointer for indicating clickability */
    }
    
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 35%;
      max-width: 40%;
    }
    
    &__link {
      cursor: alias;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $color-sec;
    }
    
    &__tools {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &--logos {
        width: 100%;
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
  
  .tool-logo {
    width: 30px;
    height: 30px;
  }
  
  .gitLogo {
    height: 30px;
    width: 45px;
  }
  
  