.project-a {
  &__card {
    display: flex;
    flex-direction: row;
    background-color: $color-primary;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
    height: 80%;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__h3 {
    text-align: center;
    color: $color-secondary;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__description {
    text-align: center;
    color: $color-secondary;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }

  &__img {
    border-radius: 20px;
    width: 50%;
    margin-right: 20px;
    box-shadow: 0 10px 10px rgba(102, 153, 204, 0.1),
                0 -3px 6px rgba(102, 153, 204, 0.05),
                0 1px 2px rgba(102, 153, 204, 0.05),
                0 3px 3px rgba(102, 153, 204, 0.1),
                0 -1px 1px rgba(102, 153, 204, 0.025);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-secondary;
    transition: transform 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    justify-content: center;
    padding-top: 10px;

    &:hover {
      transform: scale(1.1);
      color: $color-accent;
      box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    }

    .gitLogo {
      height: 30px;
      width: 45px;
      margin-left: 10px;
    }
  }

  &__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &--logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      max-width: 100%;
      overflow: hidden;
    }

    .tool {
      display: flex;
      align-items: center;

      .tool-logo {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: $color-secondary;
  border: none;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 10;

  &:hover {
    transform: scale(1.2);
  }
}

.carousel-container,
.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 20px;
}

.carousel .slide,
.carousel .thumbs-wrapper,
.carousel .thumb {
  background: none;
  border: none;
  box-shadow: none;
  margin: 20px 0 0;
  padding: 0;
}

.carousel .control-dots .dot {
  background: $color-secondary;
  box-shadow: none;
  transition: opacity 0.25s ease-in;

  &.selected,
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

.carousel .carousel-status {
  bottom: 10px;
  right: 10px;
  color: $color-secondary;
  font-size: 1.2rem;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  font-size: 2.5rem;
  color: $color-secondary;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    color: $color-accent;
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .project-a__card {
    flex-direction: column;
    height: auto;
  }

  .project-a__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .project-a__details {
    width: 100%;
  }

  .project-a__link .gitLogo {
    height: 20px;
    width: 30px;
  }

  .project-a__tools .tool .tool-logo {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .project-a__link .gitLogo {
    height: 15px;
    width: 22.5px;
  }

  .project-a__tools .tool .tool-logo {
    width: 20px;
    height: 20px;
  }
}
