

@import '../assets/variables';
.subTitleContainer {
    background-color: $color-the;
    color: $color-sec;
    border-radius: 10px;
    // padding: 0 20px ;
    height: 70px;
    width: auto;
    display: flex; 
    align-items: center;
    // padding: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    // border: dotted red 3px;


    &__h2{
        white-space: nowrap;
        overflow: hidden;
        border-right: .15em solid $color-the; 
        animation: typing 5s steps(400) forwards;


            font-size: 1.2rem; /* Adjust the font size as needed */
    font-weight: bold;
    letter-spacing: 1px;

    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  