


.subTitleContainer {
    padding-left: 15px;
    background-color: $color-the;
    border-radius: 10px;


    &__h2{
        white-space: nowrap;
        overflow: hidden;
        border-right: .15em solid $color-the; 
        animation: typing 10s steps(400) forwards;
    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  