
$color-Pri : #f2f2f2;
$color-sec : #555555;
$color-the : #6699cc;



$color-primary: #f2f2f2; /* Primary color */
$color-secondary: #555555; /* Secondary color */
$color-accent: #6699cc; /* Tertiary color */
$color-hover: #88b4e7; /* Hover color */
$font-size-large: 1.5rem;
$font-size-medium: 1rem;
$transition-speed: 0.3s;