// #F6F4F2#425664#C6AD8F

  body{
    font-family: 'Signika Negative', sans-serif;
    // max-width: 1200px;
    // margin: auto;
    // width: fit-content;

}

a{  color: inherit; 
    text-decoration: none; }

$color-Pri : #F6F4F2;
$color-sec : #425664;
$color-the : #C6AD8F;
$color-four:#4D6E58