

html, body {
    margin: auto;
    padding: 0;
    width: 98%;
    overflow-x: hidden;
}


$color-primary: #f2f2f2; 
$color-secondary: #555555; 
$color-accent: #6699cc; 
$color-hover: #88b4e7; 
$font-size-large: 1.5rem;
$font-size-medium: 1rem;
$transition-speed: 0.3s;