.header {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
}

/* Logo styling */
.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__logo-link {
  text-decoration: none;
  color: #555555;
  transition: color 0.3s;
}

.header__logo-link:hover {
  color: #6699cc;
}

/* Navigation styling */
.header__nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.header__nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header__nav-link {
  text-decoration: none;
  color: #555555;
  font-size: 1rem;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #88b4e7;
}

/* Burger menu styling */
.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styling */
@media (max-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 10px 0;
  }
  .header__nav--open {
    max-height: 500px; /* Adjust this value based on the content height */
    opacity: 1;
  }
  .header__nav-list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-end;
    padding-top: 10px;
    text-align: center;
  }
  .header__nav-item {
    width: 100%;
  }
  .header__nav-link {
    width: 100%;
    text-align: right;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }
  .header__nav-link:last-child {
    border-bottom: none;
  }
  .header__nav-link:hover {
    color: #6699cc;
  }
  .burger-menu {
    display: block;
  }
}
.hidden {
  display: none;
}

.language-toggle {
  background-color: #f2f2f2;
  color: #555555;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.language-toggle:hover {
  background-color: #88b4e7;
  color: #f2f2f2;
}

html {
  margin: auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Signika Negative", sans-serif;
}

.Home {
  background-color: #f2f2f2;
  color: #555555;
  border-left: 5px solid #6699cc;
  margin: 2% 0; /* Adjusted margin using percentage */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
}
.Home__div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home__container {
  display: flex;
  flex-direction: column; /* Default to column for small screens */
  justify-content: space-between;
  align-items: center;
  margin-left: 5%; /* Adjusted margin-left to position slightly to the left */
}
@media (min-width: 768px) {
  .Home__container {
    flex-direction: row; /* Change to row for larger screens */
    justify-content: space-around; /* Adjusted to space-around for larger screens */
    align-items: flex-start; /* Adjusted alignment for larger screens */
    margin-left: 0; /* Reset margin-left for larger screens */
  }
}
.Home__h1 {
  font-size: 15vw; /* Responsive font size using vw */
  font-weight: 900;
  font-family: "Signika Negative", sans-serif;
  margin-bottom: 2vw; /* Responsive margin using vw */
  margin-top: 9vw; /* Responsive margin using vw */
}
@media (min-width: 768px) {
  .Home__h1 {
    font-size: 10vw; /* Adjusted font size for larger screens */
    margin-top: 5vw; /* Adjusted margin for larger screens */
  }
}
.Home__h1__dot {
  color: #6699cc;
}
.Home__h2 {
  font-size: 5vw; /* Responsive font size using vw */
  letter-spacing: 2px;
  padding-left: 10px;
  margin: 0;
}
@media (min-width: 768px) {
  .Home__h2 {
    font-size: 3vw; /* Fixed font size for larger screens */
  }
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-content__div__1 {
  background-color: #f2f2f2;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid #6699cc;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: #555555;
  align-items: center;
  min-height: 90vh;
}
.about-content__div__1:hover::before {
  transform: translateX(0);
}
.about-content__div__1 p {
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .about-content__div__1 p {
    font-size: 4vw;
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .about-content__div__1 p {
    font-size: 3.5vw;
    padding-left: 20px;
    font-weight: 200;
  }
}

.about-text__1p {
  font-size: 1rem;
  line-height: 1.6;
  padding-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.about-content__div__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid #6699cc;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
.about-content__div__2:hover {
  transform: translateY(-5px);
}
.about-content__div__2__p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 10px;
  padding: 50px;
  animation: fadeIn 1.5s ease-in-out;
  color: #555555;
  text-align: center;
}
@media (max-width: 480px) {
  .about-content__div__2__p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .about-content__div__2 {
    margin-top: 20px;
    padding: 20px;
  }
}

.about__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .about__grid {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.projects {
  border-radius: 10px;
  overflow: hidden;
  width: 95%;
  margin: 20px;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projects:hover {
  transform: scale(1.05);
}
.projects:hover .project-title-hover {
  color: #6699cc;
}
@media (max-width: 768px) {
  .projects {
    width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.05);
}

.about__img {
  background-color: #6699cc;
  mix-blend-mode: multiply;
  width: 30%;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  margin: 0 20px 20px 20px; /* Adjust margins as needed */
}
@media (max-width: 768px) {
  .about__img {
    width: 80%; /* Adjusted width for phone screens */
    margin: auto;
  }
}

.about__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about__intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.about__img.animated {
  animation: slideInFromLeft 1s ease forwards;
}

.about-text__animated {
  animation: slideInFromRight 1s ease forwards;
}

.about__img {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.about-text {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.underLine {
  border-bottom: 5px solid #6699cc;
  margin: auto;
  width: fit-content;
  padding-bottom: 5px;
}

.project-a__card {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
  height: 80%;
}
.project-a__card:hover {
  transform: translateY(-2px);
}
.project-a__h3 {
  text-align: center;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .project-a__h3 {
    margin: 0;
  }
}
.project-a__h4 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  margin-bottom: 10px;
}
.project-a__description {
  text-align: center;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.project-a__img {
  border-radius: 20px;
  width: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-a__img:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
.project-a__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.project-a__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #555555;
  transition: transform 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}
.project-a__link:hover {
  transform: scale(1.1);
  color: #6699cc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.project-a__link .gitLogo {
  height: 30px;
  width: 45px;
}
.project-a__tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.project-a__tools--logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  overflow: hidden;
}
.project-a__tools .tool {
  display: flex;
  align-items: center;
}
.project-a__tools .tool .tool-logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.project-a__tools .tool .tool-logo:hover {
  transform: scale(1.2);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #555555;
  border: none;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 10;
}
.modal-close-button:hover {
  transform: scale(1.2);
}

.carousel-container,
.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 20px;
}

.carousel .slide,
.carousel .thumbs-wrapper,
.carousel .thumb {
  background: none;
  border: none;
  box-shadow: none;
  margin: 20px 0 0;
  padding: 0;
}

.carousel .control-dots .dot {
  background: #555555;
  box-shadow: none;
  transition: opacity 0.25s ease-in;
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  opacity: 1;
  transform: scale(1.2);
}

.carousel .carousel-status {
  bottom: 10px;
  right: 10px;
  color: #555555;
  font-size: 1.2rem;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  font-size: 2.5rem;
  color: #555555;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease, color 0.3s ease;
}
.carousel .control-arrow:hover,
.carousel.carousel-slider .control-arrow:hover {
  color: #6699cc;
  transform: scale(1.2);
}

@media (max-width: 768px) and (min-width: 480px) {
  .project-a__card {
    flex-direction: row;
  }
  .project-a__card:first-child,
  .project-a__card:last-child {
    flex-direction: column;
  }
  .project-a__card:nth-child(2),
  .project-a__card:nth-child(3) {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .project-a__card {
    flex-direction: row;
    height: auto;
  }
  .project-a__img {
    margin-right: 0;
    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .project-a__details {
    width: 100%;
  }
  .project-a__link .gitLogo {
    height: 20px;
    width: 30px;
  }
  .project-a__tools .tool .tool-logo {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .project-a__link .gitLogo {
    height: 15px;
    width: 22.5px;
  }
  .project-a__tools .tool .tool-logo {
    width: 20px;
    height: 20px;
  }
  .project-a__tools {
    margin: 0;
  }
  .project-a__card {
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
.no-scroll {
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.subTitleContainer {
  background-color: #6699cc;
  color: #555555;
  border-radius: 10px;
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 10px;
}
.subTitleContainer__h2 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #6699cc;
  animation: typing 5s steps(400) forwards;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2vw; /* Default for large screens */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* Media Queries for Responsive Font Sizes */
@media (max-width: 768px) {
  .subTitleContainer__h2 {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .subTitleContainer__h2 {
    font-size: 3vw;
  }
}
@media (max-width: 480px) {
  .subTitleContainer__h2 {
    font-size: 4vw;
  }
}
.Language__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 100px;
}

.sphere {
  position: relative;
  transform-style: preserve-3d;
  margin: 0 auto;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  max-width: 100vw;
  max-height: 100vh;
}

.sphere:active {
  cursor: grabbing;
}

.language {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s, opacity 0.5s, font-size 0.5s;
  font-size: 1.3vw;
  color: var(--color-sec);
  backface-visibility: hidden;
}

.active {
  font-size: 1.5vw;
  color: #f2f2f2;
  opacity: 1;
  transform: scale(1.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .language {
    font-size: 1.6vw;
  }
}
@media (max-width: 768px) {
  .language {
    font-size: 2vw;
  }
}
@media (max-width: 480px) {
  .language {
    font-size: 3vw;
  }
}
.active {
  font-size: 1.5vw;
  color: #f2f2f2;
  opacity: 1;
  transform: scale(1.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .active {
    font-size: 1.8vw;
  }
}
@media (max-width: 768px) {
  .active {
    font-size: 2.3vw;
  }
}
@media (max-width: 480px) {
  .active {
    font-size: 3.5vw;
  }
}
.skills {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
  border-left: 5px solid #6699cc;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 50px;
}
@media (min-width: 768px) {
  .skills {
    flex-direction: row;
    justify-content: space-between;
  }
}

.skills__div__1, .skills__div__2 {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .skills__div__1, .skills__div__2 {
    width: 50%;
  }
}

.Language__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sphere {
  position: relative;
  perspective: 1000px;
}

.language {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

#contact {
  background-color: #f2f2f2;
  color: #555555;
  padding: 50px 0;
  border-left: 5px solid #6699cc;
  border-radius: 20px;
  margin-bottom: 20px;
}
#contact .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
#contact form {
  margin-top: 20px;
}
#contact .form-group {
  margin-bottom: 20px;
}
#contact label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
#contact input[type=text],
#contact input[type=email],
#contact textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #6699cc;
  border-radius: 5px;
}
#contact textarea {
  resize: vertical;
}
#contact button {
  background-color: #6699cc;
  color: #f2f2f2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#contact button:hover {
  background-color: #4080bf;
}

.carousel .control-arrow {
  top: 50%; /* Position arrow at 50% of the container height */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%; /* Rounded buttons */
  color: #fff; /* White arrow color */
  border: none; /* No border */
  z-index: 1; /* Ensure the arrows are above the carousel images */
}

.carousel .control-arrow:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.loader-body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #222;
  justify-content: center;
  align-items: center;
  position: fixed; /* Ensure the loader covers the entire viewport */
  top: 0;
  left: 0;
  z-index: 9999; /* Make sure the loader is above all other content */
}

.circle {
  width: 325px;
  height: 325px;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.inner {
  width: 200px;
  height: 200px;
  background: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 -130px 0 -75px #222;
  animation: switch 8s ease-in-out infinite;
}

@keyframes switch {
  0% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    box-shadow: 0 -130px 0 -75px #222;
  }
  25% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    box-shadow: 0 -130px 0 -75px #222;
  }
  50% {
    top: calc(100% - 55px);
    width: 50px;
    height: 50px;
    box-shadow: 0 -130px 0 75px #222;
    transform: translateX(-50%) translateY(0);
  }
  75% {
    top: calc(100% - 55px);
    width: 50px;
    height: 50px;
    box-shadow: 0 -130px 0 75px #222;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    box-shadow: 0 -130px 0 -75px #222;
  }
}
.footer {
  background: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.contact, .social-links {
  margin-bottom: 10px;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
