@import 'assets/variables';
@import 'assets/header';
@import 'assets/home';
@import 'assets/about';
@import 'assets/ProjectCard';
@import 'assets/scrollAnimation';
@import 'assets/subTitle';
@import 'assets/languageAnimator';
@import 'assets/skills';
@import 'assets/contact';
@import 'assets/carouselStyle';
@import 'assets/loader';
@import 'assets/footer';


html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
